<navbar></navbar>
<div class="container">
	<div class="col-md-6" id="">
		<md-content>
			<md-list flex>
				<md-subheader class="md-no-sticky">Your orders</md-subheader>
				<md-list-item class="md-3-line" ng-repeat="order in orderList" ng-click="null">
					<div class="md-list-item-text" layout="column">
						<md-list-item class="md-3-line" ng-repeat="(key,value) in order" ng-click="null">
							<div class="md-3-line">
								<div ng-repeat="(key,value) in value">
									<h3><span id="key">{{ key }}</span> : <span id="value">{{ value }}</span></h3>
								</div>
							</div>
						</md-list-item>
						<md-divider></md-divider>
					</div>
				</md-list-item>
			</md-list>
		</md-content>
	</div>
</div>