<navbar></navbar>
<header class="hero-unit" id="banner">
  <div class="container">
    <h1>{{res_obj.name}}</h1>
    <div style="display:inline-flex;">
      <p class="lead" ng-repeat="i in res_obj.spec">{{i}}&nbsp;</p>
    </div>
    <p class="lead">{{res_obj.address}}</p>
  </div>
</header>
<div layout="row" layout-xs="column">
  <div flex="5"></div>
  <div ng-cloak class="tabs">
    <md-content>
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="{{i|underscoreless}}" ng-repeat="i in keys">
          <md-content class="md-padding">
            <md-list>
              <md-list-item class="secondary-button-padding" ng-repeat="o in menuObject[i]">
                <p class="p-list">{{o.name}}</p>
                <p class="p-list p2">{{o.price|currency:'&#8377;'}}</p>
                <md-input-container>
                  <label>Quantity</label>
                  <input ng-model="quantity">
                </md-input-container>
                <md-button class="md-fab md-mini md-primary" aria-label="Use Android" ng-click="addItem(quantity,o.name,o.price)">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </md-button>
              </md-list-item>
            </md-list>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-content>
  </div>
  <div flex="5"></div>
  <div class="order">
    <h4 class="page-header" style="margin:47px 0 20px;color:rgba(0,0,0,0.54);">Your order</h4>
    <md-list>
      <md-list-item ng-repeat="item in order" class="secondary-button-padding">
        <p class="p-list">{{item.name}}</p>
        <p class="p-list p2">{{item.quantity}}</p>
        <p class="p-list p2">{{item.price|currency:'&#8377;'}}</p>
        <md-button class="md-fab md-mini md-primary" aria-label="Use Android" ng-click="deleteItem(item)">
          <i class="fa fa-times" aria-hidden="true"></i>
        </md-button>
      </md-list-item>
    </md-list>
    <p ng-show="order|isEmpty" style="margin-left:30%;color:gray;">Add items to cart.</p>
    <md-button ng-hide="order|isEmpty" class="md-raised md-primary" ng-click="continue()" style="float:right;">Continue</md-button>
  </div>
</div>
<footer></footer>
